<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wowdespacito.my_blog.mapper.BlogMapper">

  <select id="getBlogList" parameterType="java.lang.Integer" resultType="com.wowdespacito.my_blog.pojo.BlogListItem">
    SELECT id, title, author, create_time, update_time, status FROM data_blog
    <where>
      <if test="status != null">
        status = #{status}
      </if>
    </where>
  </select>

  <update id="updateBlog" parameterType="com.wowdespacito.my_blog.pojo.Blog">
    UPDATE data_blog SET update_time=#{updateTime}
      <if test="title != null">
        ,title = #{title}
      </if>
      <if test="content != null">
        ,content = #{content}
      </if>
      <if test="author != null">
        ,author = #{author}
      </if>
      <if test="status != null">
        ,status = #{status}
      </if>
    WHERE id = #{id}
  </update>

</mapper>
