<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wodespacito.myBlog.mapper.BlogMapper">

  <select id="getBlogList" parameterType="java.lang.Integer" resultType="com.wodespacito.myBlog.pojo.BlogListItem">
    SELECT id, title, author, create_time, update_time, status FROM data_blog
    <where>
      <if test="status != null">
        status = #{status}
      </if>
    </where>
  </select>

</mapper>
